Package: rlchroot
Version: 1.06
Section: Containers
Priority: optional
Architecture: all
Depends: wget, proot, tar, ncurses-utils
Maintainer: @wmcbtech30
Description: Run Multiple Linux Distros on your Device without rooting, with lxc-inspired interface
